{{ define "main" }}

{{ with .Resources.Get "images/firstImage.png" }}
    <img src='{{ .Permalink }}' alt="KidsAndSolarPanel" />
{{ end }}

<div class="quienesSomos">
    <div>
        <h3>{{ .Title }}</h3>
        {{ .Content }}
    </div>

    {{- $videoFileName := printf "images/%s" .Params.videoGraciana -}}
    {{ with .Resources.Get $videoFileName }}
        <video controls>
            <source src='{{ .Permalink }}' type="video/mp4">
        </video>
    {{ end }}

    {{ with .Resources.Get "images/hojas_0.png" }}
        <img src='{{ .Permalink }}' alt="hojas" class="hojas0" />
    {{ end }}
</div>

<div class="bio">
    {{ with .Resources.Get "tomi.md" }}
        <h4>{{ .Title }}</h4>
    {{ end }}
    <div class="bioInfo">
        {{ with .Resources.Get "images/tomi1.jpeg" }}
            <div class="tomi1 img-tape img-tape--1">
                <img src='{{ .Permalink }}' alt="Tomi Fennell" />
            </div>
        {{ end }}
        {{ with .Resources.Get "tomi.md" }}
            {{ .Content }}
        {{ end }}
    </div>
    <div class="bioInfo reverse">
        {{ with .Resources.Get "tomi_quote.md" }}
            {{ .Content }}
        {{ end }}
        {{ with .Resources.Get "images/tomi2.jpeg" }}
            <div class="tomi2 img-tape img-tape--2">
                <img src='{{ .Permalink }}' alt="Tomi Fennell" />
            </div>
        {{ end }}
    </div>
</div>

{{ end }}
