{{- define "main" }}

<script async
    src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="quienesSomos">
    {{ .Content }}
</div>

<button type="button" class="collapsible">{{- .Params.no_platform }}
</button>
<div class="content">
    <iframe
        src="{{- .Params.form_url }}"
        width="800"
        height="1050"
        frameborder="0"
    >{{- .Params.loading }}</iframe>
</div>

<script>
    var collapsible = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < collapsible.length; i++) {
        collapsible[i].addEventListener("click", function() {
            this.classList.toggle("active-collapsible");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{{- end }}
