{{- define "main" }}

<div class="quienesSomos">
    {{ .Content }}
</div>

{{/*  Toggle use of PayPal by setting the variable `use_paypal` to `true` or `false` here.  */}}
{{- $use_paypal := false }}

{{- if $use_paypal }}

<button type="button" class="collapsible">
    {{- with resources.Get "images/paypal.png" }}
        <img src="{{- .RelPermalink }}" alt="PayPal" width="2"/>
    {{- end }}
    PayPal
</button>
<div class="content">
    <form action="https://www.sandbox.paypal.com/donate" method="post" target="_blank">
        <input type="hidden" name="hosted_button_id" value="FMFYC3YGFNM9J" />
        <input
            type="image"
            src="https://www.paypalobjects.com/{{- .Params.paypal_button_locale }}/i/btn/btn_donate_LG.gif"
            name="submit"
            title="Launch PayPal donation form"
            alt="Donate with PayPal button"
        />
    </form>
</div>

<button type="button" class="collapsible">{{- .Params.no_platform }}
</button>
<div class="content">
    <iframe
        src="{{- .Params.form_url }}"
        width="800"
        height="1050"
        frameborder="0"
    >{{- .Params.loading }}</iframe>
</div>

<script>
    var collapsible = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < collapsible.length; i++) {
        collapsible[i].addEventListener("click", function() {
            this.classList.toggle("active-collapsible");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{{- else }}

    <div class="content-no-collapse">
        <iframe
            src="{{- .Params.form_url }}"
            width="800"
            height="1050"
            frameborder="0"
        >{{- .Params.loading }}</iframe>
    </div>

{{- end }}

{{- end }}
