{{- define "main" }}

<script async
    src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="quienesSomos">
    {{ .Content }}
</div>

<button type="button" class="collapsible">
    {{- with resources.Get "images/stripe.ico" }}
        <img src="{{- .RelPermalink }}" alt="Stripe" width="2"/>
    {{- end }}
    Stripe
</button>
<div class="content">
    <stripe-buy-button
        buy-button-id="{{- .Params.stripe_button_id }}"
        publishable-key="pk_test_51QpEFXAiAIZ7c7p74YIb0LHuwkt4ncjzxydzyqOkmR1jALyNSWSZ3za3PNWkwep6SuOuK33FUFjP2tEzg9EiPdTL00Nw0dpTZn"
    >
    </stripe-buy-button>
</div>

<button type="button" class="collapsible">
    {{- with resources.Get "images/paypal.png" }}
        <img src="{{- .RelPermalink }}" alt="PayPal" width="2"/>
    {{- end }}
    PayPal
</button>
<div class="content">
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="business" value="YMX7NLPL6DWHE" />
        <input type="hidden" name="no_recurring" value="0" />
        <input type="hidden" name="item_name" value="Help a community get access to renewable energy." />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>

<button type="button" class="collapsible">{{- .Params.no_platform }}
</button>
<div class="content">
    <iframe
        src="{{- .Params.form_url }}"
        width="800"
        height="1050"
        frameborder="0"
    >{{- .Params.loading }}</iframe>
</div>

<script>
    var collapsible = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < collapsible.length; i++) {
        collapsible[i].addEventListener("click", function() {
            this.classList.toggle("active-collapsible");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{{- end }}
