{{- define "main" }}

<div class="bio" {{- with resources.Get "images/footerClean.jpg" }} style="--bg-img-footer-clean: url({{ .RelPermalink }})" {{- end }}>
    {{- with .Resources.Get "tomi.md" }}
        <h4>{{- .Title }}</h4>
    {{- end }}
    <div class="bioInfo">
        {{- with .Resources.Get "images/tomi1.jpeg" }}
            <div class="tomi1 img-tape img-tape--1">
                <img src='{{- .Permalink }}' alt="Tomi Fennell" />
            </div>
        {{- end }}
        {{- with .Resources.Get "tomi.md" }}
            {{- .Content }}
        {{- end }}
    </div>
    <div class="bioInfo reverse">
        {{- with .Resources.Get "tomi_quote.md" }}
            {{- .Content }}
        {{- end }}
        {{- with .Resources.Get "images/tomi2.jpeg" }}
            <div class="tomi2 img-tape img-tape--2">
                <img src='{{- .Permalink }}' alt="Tomi Fennell" />
            </div>
        {{- end }}
    </div>
</div>

<div class="principito" {{- with resources.Get "images/footerCleanReverse.png" }} style="--bg-img-footer-clean-reverse: url({{ .RelPermalink }})" {{- end }}>
    <div>
        {{- with .Resources.Get "images/principito.jpg" }}
            <img src='{{- .Permalink }}' alt="El Principito" />
        {{- end }}
        {{- with .Resources.Get "principito.md" }}
            {{- .Content }}
        {{- end }}
    </div>
    {{- with .Resources.Get "images/hojas_1.png" }}
        <img class="hojas" src='{{- .Permalink }}' alt="hojas_1" />
    {{- end }}
</div>

{{- end }}
