<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partialCached "head.html" . }}
    </head>
    <body>
        <header>
            {{ partialCached "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{- with resources.Get "/images/footerClean.jpg" }}
            <footer style="--bg-img-footer-clean: url({{ .RelPermalink }})">
                {{ partialCached "footer.html" . }}
            </footer>
        {{- end }}
    </body>
</html>
