{{- define "main" }}

    {{- with resources.Get "/images/firstImage.png" }}
        <img src='{{- .Permalink }}' alt="KidsAndSolarPanel" />
    {{- end }}

    <div class="quienesSomos">
        <div>
            <h3>{{- T "siteTitle" }}</h3>
            {{- .Content }}
        </div>

        {{- with resources.Get "/images/hojas_0.png" }}
            <img src='{{- .Permalink }}' alt="hojas_0" class="hojas0" />
        {{- end }}

        {{- $videoFileName := printf "/images/%s" .Params.videoGraciana -}}
        {{- with resources.Get $videoFileName }}
            <video controls>
                <source src='{{- .Permalink }}' type="video/mp4">
            </video>
        {{- end }}
    </div>

    <div
        class="bio"
        {{- with resources.Get "images/footerClean.jpg" }}
            style="--bg-img-footer-clean: url({{ .RelPermalink }})"
        {{- end }}>
        {{- with resources.Get "/images/Tomi-Graci.jpeg" }}
            <img src='{{- .Permalink }}' alt="Tomi Graci" class="tomi-graci" />
        {{- end }}
    </div>
    <div class="green-rip" {{- with resources.Get "images/footerCleanReverse.png" }} style="--bg-img-footer-clean-reverse: url({{ .RelPermalink }})" {{- end }}>
    </div>

{{- end }}
