{{- define "main" }}

<div
    class="principito"
    {{- with resources.Get "images/footerCleanReverse.png" }}
    style="--bg-img-footer-clean-reverse: url({{ .RelPermalink }})"
    {{- end }}>
</div>

<div class="quienesSomos">
    <div>
        <h3>{{- .Title }}</h3>
        {{- .Content }}
    </div>

    {{- with resources.Get "/images/hojas_0.png" }}
        <img src='{{- .RelPermalink }}' alt="hojas_0" class="hojas0" />
    {{- end }}

    {{- $videoFileName := printf "/images/sierra-dorada/sierraDorada.mp4" -}}
    {{- with resources.Get $videoFileName }}
        <video controls>
            <source src='{{- .RelPermalink }}' type="video/mp4">
        </video>
    {{- end }}
</div>

<div class="gallery">
    <div class="row">
        <div class="column">
            {{- with resources.Get "/images/sierra-dorada/paneles-2.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="Paneles solares">
            {{- end }}
            {{- with resources.Get "/images/sierra-dorada/inversor-1.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="Paneles solares">
            {{- end }}
            {{- with resources.Get "/images/sierra-dorada/tablero.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="Conexiones">
            {{- end }}
        </div>
        <div class="column">
            {{- with resources.Get "/images/sierra-dorada/paneles-1.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="Paneles solares">
            {{- end }}
            {{- with resources.Get "/images/sierra-dorada/inversor-2.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="Paneles solares">
            {{- end }}
            {{- with resources.Get "/images/sierra-dorada/conexiones.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="Conexiones">
            {{- end }}
        </div>
    </div>
</div>

{{- end }}
