{{- with resources.Get "/images/iconoGreen.png" }}
    <img src="{{- .RelPermalink }}" alt="icon" />
{{- end }}
<div>
    <h5>{{ T "followUs" }}</h5> <br class="break">
    <a href="https://www.instagram.com/iris_energia/" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="mediaLink" href="https://www.facebook.com/iris.energiasolar" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
    <a class="mediaLink" href="https://www.linkedin.com/company/iris-energ%C3%ADa-inteligente/" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a class="mediaLink" href="https://api.whatsapp.com/send/?phone=543517045177&text&type=phone_number&app_absent=0" target="_blank">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a>
</div>
