{{/*  {{ $js := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}" defer></script>  */}}
{{/*  {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}  */}}


<nav>
    {{- with resources.Get "/images/icono.png" }}
        <img src="{{- .RelPermalink }}" alt="icon" />
    {{- end }}

    <button
        {{ range.Translations }}
        onclick="window.location.assign('{{ .Permalink }}');"
        {{ end }}
        class="languageButton"
    >{{ T "languageButton" }}</button>
</nav>
