<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="author" content="Leila Gattas">
<meta name="format-detection" content="telephone=no">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href='{{ "favicon.ico" | absURL }}'>

<title>{{ if .IsHome }}{{ T "siteTitle" }}{{ else }}{{ printf "%s | %s" .Title (T "siteTitle") }}{{ end }}</title>

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
